MM/db/src/ZHV_BV_CHNG_LOG.hdbcalculationview
MM/db/src/ZHV_MM_01.hdbcalculationview
MM/db/src/ZHV_PHY*.hdbcalculationview
MM/db/src/ZHV_MM_01.hdbcalculationview
MM/db/src/ZHV_MM_MBEW_HIS_01.hdbcalculationview
MM/db/src/ZHV_MM_CHANGE_LOG.hdbcalculationview
MM/db/src/ZHV_MM_CHANGE_LOG.hdbcalculationview

MM/db/src/pur/po/test20211213.txt
MM/db/src/pur/po/test20211213.txt
MM/db/src/im/ZHV_BV_MAT_MOV_01.hdbcalculationview
